@font-face {
    font-family: 'Cosmica';
    src: url('Cosmica-Book.woff2') format('woff2'),
        url('Cosmica-Book.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cosmica';
    src: url('Cosmica-Extrabold.woff2') format('woff2'),
        url('Cosmica-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cosmica';
    src: url('Cosmica-Heavy.woff2') format('woff2'),
        url('Cosmica-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cosmica';
    src: url('Cosmica-Medium.woff2') format('woff2'),
        url('Cosmica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

