@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #dddddd;
  --navbar-height: 65px;
  --max-width: 1280px;
}

body {
  font-family: 'Cosmica';
  font-weight: 400;
  background: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .tracking-wider;
  font-weight: 900;
  text-transform: uppercase;
}

section {
  background-color: white;
  color: black;
  padding: 45px 0;
}

section h2 {
  font-size: 18px;
  margin-bottom: 90px;
}

svg {
  user-select: none;
}

.rotating {
  animation: rotating 3s linear infinite;
  will-change: transform;
}

.footer__logo {
  position: absolute;
  left: 50%;
  top: 2rem;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-left: -150px;
  animation: rotating 6s linear infinite;
  will-change: transform;
}

@media (min-width: 1024px) {
  section {
    padding: 150px 0;
    min-height: 100vh;
  }

  section h2 {
    font-size: 30px;
    margin-bottom: 150px;
  }
  .footer__logo {
    max-width: 574px;
    margin-left: -287px;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Cosmica';
  src: url('/static/fonts/Cosmica-Book.woff2') format('woff2'),
    url('/static/fonts/Cosmica-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica';
  src: url('/static/fonts/Cosmica-Extrabold.woff2') format('woff2'),
    url('/static/fonts/Cosmica-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica';
  src: url('/static/fonts/Cosmica-Heavy.woff2') format('woff2'),
    url('/static/fonts/Cosmica-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica';
  src: url('/static/fonts/Cosmica-Medium.woff2') format('woff2'),
    url('/static/fonts/Cosmica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
